
@import "../src/styles/footer.scss";
@import "../src/styles/header.scss";
@import "../src/styles/media.scss";
@import "../src/styles/navbar.scss";
@import "../src/styles/popup.scss";
@import "../src/styles/strip.scss";
@import "../src/styles/variables.scss";


.page {
  background-color: $main-background;
  color: $main-text;
  text-align: center;
  
    
}

