
:root {
  --main-background: rgb(44, 99, 151);
  --main-text:rgb(242, 243, 165);
  --main-hover:  rgb(218,165,32);
  --main-footer:  rgb(236, 0, 158);
}


.page {
  background-color: var(--main-background);
  color: var(--main-text);
  text-align: center;
  
    
}

/* HEADER */
.app-header {
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: azure;
  padding: 0.5rem 1.5rem
}

.title {
  font-size: calc(10px + 5vmin);
  font-weight: 800;
  color: azure;
  transition: color 2s

}
.title:hover {
 color:var(--main-hover)
}

/* FOOTER */
.app-footer {
  font-size: calc(10px + 2vmin);
  color: var(--main-footer);
  text-align: left;
  padding: 1.5rem 1.5rem;
  margin: 0 auto;
  margin-top:1.5rem;
  background-color: aquamarine;
  max-width: 1800px;
}

.footer-title {
  font-size: calc(10px + 3vmin);
  font-weight: 800;
}

.footer-sub-title {
  font-size: calc(10px + 1.5vmin);
}
.footer-text {
  font-size: calc(10px + 1vmin);
}

/* STRIP */
.strip {
  background-color: #d4df3c;
  height: auto;
  padding: 0 1.5rem 0 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: top;
  max-width: 1800px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin:  0 auto;
}


.image {
object-fit: cover;
width: 100%;
max-width: 1800px;
max-height: 400px;
object-position: 50% 70%;
margin: 0 1.5rem; 
}

.box {
  background-color: var(--main-background);
  padding:  1.5rem;
  margin: 1.5rem; 
  min-height: auto;
  max-width: 1800px;
  overflow-y: auto;
  width:100%;
  border-radius:0.5rem;

}

.single-box {
  width:75%;
  margin-bottom: 5.5rem;

}

.single {
  padding: 0 auto;
  margin: 0 auto;
}
/* Pop up */
.pop-up {
border-radius:0.5rem;
min-height: 15rem;
position: absolute;
align-content: center;  
top: 25%;
left: 15%;
right: 15%;
background-color: rgb(231, 28, 62);
z-index: 5;
padding: 2.5rem;
  animation: fadeIn linear 0.25s;
  -webkit-animation: fadeIn linear 0.25s;
  -moz-animation: fadeIn linear 0.25s;
  -o-animation: fadeIn linear 0.25s;
  -ms-animation: fadeIn linear 0.25s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.btn-container{
  text-align: right;
}
.btn-x{
  background-color: transparent;
  border: none;
  font-size:1.15rem
}



/* MEDIA  */
@media screen and (max-width: 600px) {
  .strip {
    flex-direction: column;
    padding: 0;
    justify-items: center;
    max-width: 100%;
  }

  .image {
 margin: 0 auto;
 padding: 0;
 max-height: 200px;
width: 90%;

  }

  .box {
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom:  0.5rem;
  overflow-y: auto;
  text-align: justify;
  text-justify: inter-word;
  width:80%;
  min-height: auto;
}

.single {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-height: auto;
}
 .single-box {
  width:80%;
  margin-bottom:  0.5rem;
}
  .box:last-child  {
   margin-bottom: 0.5rem;
}


.pop-up {
left:1vh;
right:1vh;
width: auto;
top: 15vh;
position: fixed;

}
}

