.page {
  background-color: rgb(44, 99, 151);
    color: rgb(242, 243, 165);
    text-align: center;
    
}

/* HEADER */
.app-header {
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: azure;
  padding: 0.5rem 1.5rem
}

.title {
  font-size: calc(10px + 5vmin);
  font-weight: 800;
  color: azure;
  transition: color 2s

}
.title:hover {
 color: rgb(218,165,32)
}

/* FOOTER */
.app-footer {
  position: relative;
  font-size: calc(10px + 2vmin);
  color: rgb(236, 0, 158);
  text-align: left;
  padding: 1.5rem 1.5rem;
  margin: 0 auto;
  background-color: aquamarine;
  max-width: 1800px;
}

.footer-title {

  font-size: calc(10px + 3vmin);
  font-weight: 800;
}

.footer-text {
  font-size: calc(10px + 1vmin);
}

/* STRIP */
.strip {
  background-color: #d4df3c;
  height: 30vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: top;
  max-width: 1800px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin:  0 auto;
}

.image {
object-fit: cover;
width: 100%;
max-width: 1800px;
height: 400px;
object-position: 50% 70%;
padding: 1.5rem; 
}

.box {
   background-color: rgb(44, 99, 151);
  padding:  1.5rem;
  margin: 1.5rem; 
  overflow-y: auto;
  width:100%;
}



/* MEDIA  */
@media screen and (max-width: 600px) {
  .strip {
    flex-direction: column;
    height:50vh;
    padding: 0;
    justify-items: center;
    max-width: 100%;
  }

  .image {
    margin-right: 0.5rem;
    width: 90%;
  }

  .box {
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  overflow-y: auto;
  height: 30vh;
  text-align: justify;
  text-justify: inter-word;
  width:0%;
}
  .box:first-child  {
   margin-top: 1rem;
}
 
  .box:last-child  {
   margin-bottom: 1rem;
}

}
