@import "./variables.scss";

/* FOOTER */
.app-footer {
  font-size: calc(10px + 2vmin);
  color: $main-footer;
  text-align: left;
  padding: 1.5rem 1.5rem;
  margin: 0 auto;
  margin-top:1.5rem;
  max-width: 1800px;
  background-color:$secondary-background
}

.footer-title {
  font-size: calc(10px + 3vmin);
  font-weight: 800;
}

.footer-sub-title {
  font-size: calc(10px + 1.5vmin);
}
.footer-text {
  font-size: calc(10px + 1vmin);
}
