  $main-background: #2b7a78;
  $main-background-opacity:rgba(43,122,120, 0.5);
  $secondary-background: #3aafa9;
  $main-text:#feffff;
  $secondary-text:#def2f1;
  $sub-text:   rgb(44, 99, 151);
  $main-footer:  rgb(236, 0, 158);
